AUTH0_JWKS_URI="https://example.eu.auth0.com/.well-known/jwks.json"
AUTH0_AUDIENCE="abcExample"
AUTH0_ISSUER="https://example.eu.auth0.com/"
CF_ACCOUNT_ID=""
CF_D1_DATABASE_ID=""
CF_API_TOKEN=""
UPLOADTHING_TOKEN="..."