.pixel-blast-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}

.pixel-blast-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
